<mapper namespace="com.rsh.easy_opm.PersonMapper">
    <typeAliases>
        <typeAlias type="com.rsh.easy_opm.Person" alias="Person"/>
        <typeAlias type="com.rsh.easy_opm.Location" alias="Location"/>
        <typeAlias type="com.rsh.easy_opm.BornInfo" alias="BornInfo"/>
        <typeAlias type="com.rsh.easy_opm.Friendship" alias="Friendship"/>
    </typeAliases>

    <resultMap id="PersonMapper">
<!--    symbol "$id" marks the mapping identity of this entity itself  -->
        <id column="@$id" property="id"/>
<!--    the property "this" marks the mapping query result of this entity itself    -->
        <result column="x" property="this"/>
<!--    prefix '@' marks the mapping column is a property of this entity itself   -->
        <result column="@name" property="name"/>
        <result column="@age" property="age"/>
        <collection property="friends" ofType="Friendship"
                    select="queryFriendshipByName" column="name"/>
        <association property="spouse" ofType="Person"
                     select="querySpouseByName" column="name"/>
        <association property="bornInfo" ofType="BornInfo"
                     select="queryBornInfoByName" column="name"/>
    </resultMap>

    <resultMap id="SpouseInfoMapper">
        <id column="@$id" property="id"/>
        <result column="x" property="this"/>
        <result column="@name" property="name"/>
        <result column="@age" property="age"/>
    </resultMap>

    <resultMap id="BornInfoMapper">
        <id column="@$id" property="id"/>
        <result column="x" property="this"/>
        <result column="@name" property="name"/>
        <result column="y.year" property="bornYear"/>
        <association property="place" ofType="Location">
            <result column="z" property="this"/>
            <result column="$id" property="id"/>
            <result column="city" property="city"/>
            <result column="state" property="state"/>
        </association>
    </resultMap>

    <resultMap id="FriendshipInfo">
        <id column="@$id" property="id"/>
        <result column="x" property="this"/>
        <result column="@since" property="beginningYear"/>
        <association property="friend" ofType="Person">
            <result column="y" property="this"/>
            <result column="name" property="name"/>
            <result column="age" property="age"/>
            <result column="$id" property="id"/>
        </association>
    </resultMap>

    <select id="queryPersonByName" parameterType="basic" resultType="Person" resultMap="PersonMapper">
        match (x:Person {name:#{name}}) return x;
    </select>

    <select id="querySpouseByName" parameterType="basic" resultType="Person" resultMap="SpouseInfoMapper">
        match (:Person {name:#{name}})-[:MARRIED]->(x) return x;
    </select>

    <select id="queryBornInfoByName" parameterType="basic" resultType="BornInfo" resultMap="BornInfoMapper">
        match (x:Person {name:#{name}})-[y:BORN_IN]->(z) return x, y.year, z;
    </select>

    <select id="queryFriendshipByName" parameterType="basic" resultType="Friendship" resultMap="FriendshipInfo">
        match (:Person {name:#{name}})-[x:FRIENDS]->(y) return x, y;
    </select>
</mapper>