<mapper namespace="com.rsh.easy_opm.UserMapper">
    <resultMap id="ResultUser">
        <result column="nick_name" property="nickName"/>
        <result column="real_name" property="realName"/>
    </resultMap>

    <typeAliases>
        <typeAlias type="com.rsh.easy_opm.User" alias="user"/>
    </typeAliases>

    <select id="selectByPrimaryKey" parameterType="basic" resultType="user" resultMap="ResultUser">
        select
            id,
            nick_name,
            real_name,
            sex,
            age
        from user
        where id = #{id};
    </select>

    <select id="selectAll" resultType="user" resultMap="ResultUser">
        select
            id,
            nick_name,
            real_name,
            sex,
            age
        from user;
    </select>

    <insert id="insertOne" parameterType="user">
        insert into user
            values (#{id}, #{nickName}, #{realName}, #{sex}, #{age});
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="basic">
        delete from user
        where id=#{id};
    </delete>

    <select id="selectByConditions" parameterType="map" resultType="user" resultMap="ResultUser">
        select
            real_name,
            age
        from user
        where ${column1} > #{value1} and ${column2} > #{value2} and ${column3} = #{value3};
    </select>

    <update id="updateOne" parameterType="user">
        update user
        set nick_name=#{nickName}, age=#{age}
        where id=#{id}
    </update>
</mapper>